ion-back-button {
    display: block;
 }
.fondo{
    background-color: black;
    
 }
 .new-background-color{
   --background: #000000;
 
}
ion-title{
   text-align: center;
   margin-right: 10%;
}
 ion-icon {
   color: White;
   background-color: Black;
   font-size: 30px; 
 }
 p{
   color: white;
 }
 .card-title,h2,h3{
   color: white;
 }
 .titulo{
   text-align: center;

}
 
.back{
   position: absolute;
   width: 100%;
   height: 30%;
   object-fit:cover;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31.5, 31.5, 52.5, 1)), color-stop(100%, rgba(31.5, 31.5, 52.5, 1)));
   z-index: 1;
   opacity: 0.7;
   image-rendering: auto;
}
#imagenBack{
   width: 100%;
   height: 100%;
}

@media only screen and  (max-width:424px) and (min-width: 375px)  { //Pantallas medianas
   .back{
      position: absolute;
      width: 100%;
      height: 26.5%;
      object-fit:cover;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31.5, 31.5, 52.5, 1)), color-stop(100%, rgba(31.5, 31.5, 52.5, 1)));
      z-index: 1;
      opacity: 0.7;
      image-rendering: auto;
   }
 }

 @media only screen and  (max-width:374px) and (min-width: 319px)  { //Pantallas pequeñas
   .back{
      position: absolute;
      width: 100%;
      height: 22.5%;
      object-fit:cover;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31.5, 31.5, 52.5, 1)), color-stop(100%, rgba(31.5, 31.5, 52.5, 1)));
      z-index: 1;
      opacity: 0.7;
      image-rendering: auto;
   }
   
 }


 