ion-back-button {
    display: block;
 }
 .imagenPortada{
    width: 30%; 
    height: 30%;
    position: absolute;
    top: 5%;
    left: 5%;
 }
 h3{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
 }