

<div class="titulo" >
<ion-header class="titulo" >
  <ion-toolbar  class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-sharp" (click)="close()"></ion-back-button>
      
    </ion-buttons>
    <ion-title class="titulo" style="color: red;">
      ONE FOR ALL 
     </ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content class="fondo">

<div class="fondo">

    <div class="contenido">
      
        <ion-img src="https://image.tmdb.org/t/p/w500{{valoresPeliculas.poster_path}}" id="portada"></ion-img>
      
        <ul class="list-group list-group-flush" style="background-color: black; text-align: center;">
          <li class="list-group-item"  style="background-color: black;  color: green;">Puntuacion: {{valoresPeliculas.vote_average}} / 10</li>
         
          <ion-row style="text-align: center;">
            <ion-col>
              <div> <li class="list-group-item"  style="background-color: black;"><ion-icon name="arrow-undo-outline"></ion-icon></li></div>
            </ion-col>
            <ion-col>
              <div> <li class="list-group-item"  style="background-color: black;"><ion-icon name="thumbs-up-outline"></ion-icon></li></div>
            </ion-col>

            <ion-col>
              <div> <li class="list-group-item"  style="background-color: black;"> <ion-icon name="add-outline"></ion-icon></li></div>
            </ion-col>

           
          </ion-row>
        </ul>
      
     
         
    </div>

  
    <div class="card-body">
      <p class="card-text">{{valoresPeliculas.overview}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         <!-- <button type="button" class="btn btn-sm btn-outline-success" (click)="anadirPelicula(id)">Añadir Pelicula</button>-->
        </div>
        
      </div>
    </div>
    <div style="text-align: center;">
      <iframe [src]='getPeliculaStream()'  frameborder="0" allowfullscreen width="100%" height="250px"></iframe>
    </div>
  
    <div style="text-align: center;">
      <h2>Reparto Principal</h2>
    </div>

    <div class="card-group">
    <div class="row">
    <div  class="col-4 box-shadow" *ngFor="let item of reparto_array.slice(0, 6);">

      <div *ngIf="item.profile_path!=null;else other_content">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{item.profile_path}}" alt="Card image cap">
        </div>
        <ng-template #other_content>
          <img class="card-img-top" id="serieImgError" src="https://img.soluziondigital.com/img/p/es-default-home_default.jpg" alt="Card image cap">
          </ng-template>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 14px !important;">{{item.name}}</h5>
         
          </div>
        
      
      </div>
    </div>
  </div>
  
    
  </div>


 

</ion-content>
