<div class="toolbar">
  <ion-header>
    <ion-toolbar class="new-background-color border border-dark">
      <ion-title class="titulo">
       ONE FOR ALL TV
      </ion-title>
    </ion-toolbar>
  </ion-header>
  </div>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar class="toolbar">
      </ion-toolbar>
    </ion-header>


    <div class="perfil">

      <h1>{{usuario}}</h1>
      
    </div>

<ion-content class="auth-form">
  <div class="album py-3">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registro</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
