.titulo{
    text-align: center;
    color: red;
    font-weight:bold;
}
.album{
    background-color: black;
    text-align: center;
    height: 100%;
}
 h3{
    color: white;
    text-align: center;
}
.new-background-color{
    --background: #000000;
    
 }

 ion-grid{
    margin-top: 40%;
 }
 