.new-background-color{
    --background: #000000;
  
 }
 ion-title{
    text-align: center;
    margin-right: 10%;
 }

 ion-icon {
    color: White;
    background-color: Black;
    font-size: 30px; 
  }
  ion-back-button {
    display: block;
    color: White;
 }

 .fondo{
   --background: #000000;
   
 }
 p,h5{
    color: white;
 }