.titulo{
    text-align: center;
    color: red;
    font-weight:bold;
}
.album{
    background-color: black;
    height: 80%;
}
.new-background-color{
 
    --background: #000000;
    
 }
 .contenido{

    background-color: black;
    height: 20%;
 }

 h2{
     color: white;
     margin-bottom: 5%;
 }
 .code{
     text-align: center;
 }