<ion-header>
  <ion-toolbar class="new-background-color border border-dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenido">
    <p>h</p> 
  </div>
  <div class="album">
  <form>
    
    <div class="code">
      <h2>Registro</h2>
    </div>
    
    
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user" name="usuario" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="pass" name="pass"required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="repetirPass" name="repetirPass" required ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="registrarse();" color="danger" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
 
  </form>
</div>
</ion-content>
